/* News sidebar */
.sidebar .widget {
    margin-bottom: 40px;
    overflow: hidden;
    padding: 40px;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
    border-top: 3px solid #e74c3c;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .sidebar .widget:first-child {
      margin-top: 50px;
    }
  }
  
  @media (max-width: 767px) {
    .sidebar .widget {
      padding: 35px;
    }
  }
  
  .sidebar .widget:last-child {
    margin-bottom: 0;
  }
  
  .sidebar .widget .widget-title {
    font-size: 18px;
    margin-bottom: 25px;
    position: relative;
    font-weight: 600;
    line-height: 28px;
    z-index: 1;
    color: #081828;
  }
  
  .sidebar .widget.search-widget form {
    position: relative;
  }
  
  .sidebar .widget.search-widget form input {
    width: 100%;
    background-color: transparent;
    height: 55px;
    border: none;
    padding: 0 55px 0 25px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #eee;
    -webkit-box-shadow: 0px 0px 23px transparent;
            box-shadow: 0px 0px 23px transparent;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .sidebar .widget.search-widget form input:focus {
    -webkit-box-shadow: 0px 0px 23px #0000000f !important;
            box-shadow: 0px 0px 23px #0000000f !important;
    border-color: #e74c3c;
  }
  
  .sidebar .widget.search-widget form input::-webkit-input-placeholder {
    color: #333;
  }
  
  .sidebar .widget.search-widget form input:-ms-input-placeholder {
    color: #333;
  }
  
  .sidebar .widget.search-widget form input::-ms-input-placeholder {
    color: #333;
  }
  
  .sidebar .widget.search-widget form input::placeholder {
    color: #333;
  }
  
  .sidebar .widget.search-widget form button {
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 55px;
    z-index: 1;
    color: #fff !important;
    font-size: 18px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border-radius: 0;
    padding: 0 !important;
    border: none;
    background: transparent;
    color: #333 !important;
  }
  
  .sidebar .widget.search-widget form button:hover {
    color: #e74c3c !important;
  }
  
  .sidebar .widget.popular-feeds .single-popular-feed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px;
    padding-bottom: 25px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(238, 238, 238, 0.68);
  }
  
  .sidebar .widget.popular-feeds .single-popular-feed:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .sidebar .widget.popular-feeds .single-popular-feed .feed-desc {
    position: relative;
  }
  
  .sidebar .widget.popular-feeds .single-popular-feed .feed-desc .post-title {
    margin-bottom: 12px;
    line-height: 26px;
  }
  
  .sidebar .widget.popular-feeds .single-popular-feed .feed-desc .post-title a {
    font-size: 15px;
    font-weight: 600;
    color: #081828;
  }
  
  .sidebar .widget.popular-feeds .single-popular-feed .feed-desc .post-title a:hover {
    color: #e74c3c;
  }
  
  .sidebar .widget.popular-feeds .single-popular-feed .feed-desc .time {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
  }
  
  .sidebar .widget.popular-feeds .single-popular-feed .feed-desc .time i {
    margin-right: 4px;
  }
  
  .sidebar .widget.categories-widget ul li:last-child {
    margin-bottom: 0;
  }
  
  .sidebar .widget.categories-widget ul li:first-child a {
    padding-top: 0;
  }
  
  .sidebar .widget.categories-widget ul li:last-child a {
    padding-bottom: 0;
    border: none;
  }
  
  .sidebar .widget.categories-widget ul li a {
    font-size: 15px;
    padding: 8px 0;
    font-weight: 500;
    display: block;
    color: #081828;
  }
  
  .sidebar .widget.categories-widget ul li a:hover {
    color: #e74c3c;
    padding-left: 10px;
  }
  
  .sidebar .widget.popular-tag-widget {
    padding-bottom: 35px;
  }
  
  .popular-tag-widget .tags > a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 8px 20px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    margin-right: 5px;
    margin-bottom: 10px;
    color: #081828;
    border: 1px solid #eee;
    background: transparent;
    border-radius: 30px;
  }
  
  .popular-tag-widget .tags > a:hover {
    background-color: #e74c3c;
    color: #fff;
    border-color: transparent;
  }
  