/*======================================
	Contact CSS
========================================*/
.contact-us {
    position: relative;
    background-color: #F4F7FA;
  }
  
  .contact-us .form-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-bottom: 30px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact-us .form-title {
      font-size: 24px;
      line-height: 35px;
    }
  }
  
  @media (max-width: 767px) {
    .contact-us .form-title {
      font-size: 22px;
      line-height: 35px;
    }
  }
  
  .contact-us .contact-form .form-group {
    margin-bottom: 20px;
  }
  
  .contact-us .contact-form .form-group input {
    height: 52px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 0px 20px;
    width: 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: #fff;
  }
  
  .contact-us .contact-form .form-group input:focus {
    border-color: #e74c3c;
  }
  
  .contact-us .contact-form .form-group textarea {
    height: 200px;
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 20px;
    resize: none;
    width: 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .contact-us .contact-form .form-group textarea:focus {
    border-color: #e74c3c;
  }
  
  .contact-us .contact-form .button {
    margin-top: 10px;
  }
  
  .contact-us .contact-widget-wrapper {
    padding-right: 80px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact-us .contact-widget-wrapper {
      padding: 0;
      padding-right: 200px;
      margin-bottom: 50px;
    }
  }
  
  @media (max-width: 767px) {
    .contact-us .contact-widget-wrapper {
      padding: 0;
      margin-bottom: 40px;
    }
  }
  
  .contact-us .contact-widget-wrapper .main-title {
    margin-bottom: 40px;
  }
  
  .contact-us .contact-widget-wrapper .main-title h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 40px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact-us .contact-widget-wrapper .main-title h2 {
      font-size: 24px;
      line-height: 35px;
    }
  }
  
  @media (max-width: 767px) {
    .contact-us .contact-widget-wrapper .main-title h2 {
      font-size: 22px;
      line-height: 35px;
    }
  }
  
  .contact-us .contact-widget-wrapper .main-title p {
    font-size: 16px;
  }
  
  .contact-us .contact-widget-wrapper .contact-widget-block {
    margin-bottom: 30px;
  }
  
  .contact-us .contact-widget-wrapper .contact-widget-block:last-child {
    margin: 0;
  }
  
  .contact-us .contact-widget-wrapper .contact-widget-block h3 {
    font-size: 16px;
    font-weight: 700;
    display: block;
    margin-bottom: 18px;
  }
  
  .contact-us .contact-widget-wrapper .contact-widget-block p {
    margin-bottom: 3px;
  }
  
  .contact-us .contact-widget-wrapper .contact-widget-block p:last-child {
    margin: 0;
  }
  
  .map-section {
    background-color: #F4F7FA;
    padding-bottom: 110px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .map-section {
      padding-bottom: 70px;
    }
  }
  
  @media (max-width: 767px) {
    .map-section {
      padding-bottom: 60px;
    }
  }
  
  .map-section .mapouter {
    padding: 10px;
    background-color: #fff;
  }
  
  .map-section .mapouter iframe {
    height: 450px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .map-section .mapouter iframe {
      height: 400px;
    }
  }
  
  @media (max-width: 767px) {
    .map-section .mapouter iframe {
      height: 300px;
    }
  }
  
  /*=============================
      Pricing Table CSS
  ===============================*/
  .pricing-table {
    background-color: #F4F7FA;
  }
  
  .pricing-table .section-title {
    margin-bottom: 50px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .pricing-table .section-title {
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .pricing-table .section-title {
      margin-bottom: 20px;
    }
  }
  
  .pricing-table .single-table {
    border: 1px solid #eee;
    border-radius: 10px;
    margin-top: 40px;
    background-color: #fff;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 50px 35px;
    text-align: left;
    z-index: 0;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
  }
  
  .pricing-table .single-table .popular {
    position: absolute;
    right: 20px;
    top: 18px;
    color: #e74c3c;
    font-size: 15px;
    font-weight: 500;
  }
  
  .pricing-table .single-table:hover {
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.048);
            box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.048);
  }
  
  .pricing-table .single-table.middle .table-head .title {
    border-color: #e74c3c;
    color: #e74c3c;
  }
  
  .pricing-table .single-table .table-head .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #e74c3c;
    display: inline-block;
    border-radius: 30px;
  }
  
  .pricing-table .single-table .table-head .sub-title {
    margin-bottom: 30px;
  }
  
  .pricing-table .single-table .table-head p {
    font-weight: 400;
  }
  
  .pricing-table .single-table .table-head .price .amount {
    font-size: 45px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    padding-left: 16px;
  }
  
  .pricing-table .single-table .table-head .price .amount .currency {
    font-weight: 500;
    color: #4f4f4f;
    font-size: 17px;
    position: absolute;
    left: 0;
    top: 3px;
  }
  
  .pricing-table .single-table .table-head .price .amount .duration {
    display: inline-block;
    font-size: 14px;
    color: #4f4f4f;
    font-weight: 500;
    margin-left: 3px;
  }
  
  .pricing-table .single-table .table-list {
    margin-top: 40px;
  }
  
  .pricing-table .single-table .button {
    margin: 0;
    margin-top: 50px;
  }
  
  .pricing-table .single-table .button .btn i {
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
    top: 2px;
  }
  
  .pricing-table .single-table .no-card {
    display: block;
    margin-top: 15px;
  }
  
  .pricing-table .single-table .table-content .table-list li {
    font-size: 15px;
    margin-bottom: 16px;
    padding-left: 25px;
    font-weight: 400;
    color: #081828;
    position: relative;
  }
  
  .pricing-table .single-table .table-content .table-list li::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "\ea5a";
    font-family: lineIcons;
    color: #68D585;
    font-size: 15px;
  }
  
  .pricing-table .single-table .table-content .table-list li.disable {
    color: #727272;
  }
  
  .pricing-table .single-table .table-content .table-list li.disable::before {
    color: #727272;
    content: "\ea87";
  }
  
  /*======================================
     Portfolio CSS
  ========================================*/
  .portfolio-section .portfolio-btn-wrapper {
    margin-bottom: 0;
    text-align: center;
  }
  
  .portfolio-section .section-title {
    margin-bottom: 60px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .portfolio-section .section-title {
      margin-bottom: 50px;
    }
  }
  
  @media (max-width: 767px) {
    .portfolio-section .section-title {
      margin-bottom: 40px;
    }
  }
  
  .grid {
    margin-top: 80px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .grid {
      margin-top: 60px;
    }
  }
  
  @media (max-width: 767px) {
    .grid {
      margin-top: 40px;
    }
  }
  
  .portfolio-section .portfolio-btn-wrapper button {
    padding: 10px 23px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background: #eff2f9;
    color: #051441;
    border-radius: 6px;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
  }
  
  .portfolio-section .portfolio-btn-wrapper button:hover {
    background: #e74c3c;
    color: #fff;
  }
  
  .portfolio-section .portfolio-btn-wrapper button.active {
    background: #e74c3c;
    color: #fff;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .portfolio-section .portfolio-btn-wrapper button {
      margin-right: 10px;
      padding: 7px 18px;
    }
  }
  
  @media (max-width: 767px) {
    .portfolio-section .portfolio-btn-wrapper button {
      margin-right: 10px;
      padding: 7px 18px;
    }
  }
  
  .portfolio-section .portfolio-btn-wrapper button:last-child {
    margin-right: 0;
  }
  
  .portfolio-item-wrapper {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .portfolio-item-wrapper:hover .portfolio-img img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .portfolio-item-wrapper .portfolio-img img {
    width: 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .portfolio-item-wrapper .portfolio-overlay {
    position: absolute;
    left: 15px;
    bottom: 15px;
    background-color: #fff;
    padding: 20px 35px 20px 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.096);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.096);
    display: inline-block;
  }
  
  .portfolio-item-wrapper .portfolio-overlay .overlay-content h4 {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
  }
  
  .portfolio-item-wrapper .portfolio-overlay .overlay-content .border-btn {
    padding: 8px 27px;
    color: #fff;
    border: 2px solid #fff;
  }
  
  .portfolio-item-wrapper .portfolio-overlay .overlay-content .border-btn:hover {
    color: #e74c3c;
    background: #fff;
  }
  
  .single-portfolio .single-portfolio-img {
    border-radius: 0;
    overflow: hidden;
  }
  
  .single-portfolio .single-portfolio-img img {
    width: 100%;
  }
  
  .project-info-box ul li {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
  }
  
  .project-info-box ul li:last-child {
    margin-bottom: 0;
  }
  
  .project-info-box ul li .destination {
    width: 40%;
    color: #051441;
    text-transform: uppercase;
  }
  